@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat&family=Paytone+One&display=swap');
body {
  background-color: white;

}


/*------menu---------------------------------------

--------------------------------------------------*/

.custom-navbar {
  border: none;
  margin-bottom: 0;
  padding: 25px 0;
}

.custom-navbar .navbar-brand {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -1px;
}

.top-nav-collapse {
  background: #ffffff;
}

.custom-navbar .navbar-nav.navbar-nav-first {
  margin-left: 8em;
}

.custom-navbar .navbar-nav.navbar-right li a {
  padding-right: 12px;
  padding-left: 12px;
}

.custom-navbar .section-btn {
  padding: 15px;
  margin-left: 2em;
}

.custom-navbar .section-btn:hover {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.custom-navbar .section-btn a {
  padding: 0;
}

.custom-navbar .nav .section-btn a:hover {
  color: #ffffff;
}

.custom-navbar .nav li a {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: -0.5px;
  padding-right: 22px;
  padding-left: 22px;
}

.custom-navbar .nav li a:hover {
  background: transparent;
  color: #ce3232;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
  background-color: transparent;
  color: #ce3232;
}

.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.custom-navbar .navbar-toggle {
  background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
  background: #252525;
  border-color: transparent;
}

@media(min-width:768px) {
  .custom-navbar {
    border-bottom: 0;
    background: 0 0;
  }

  .custom-navbar.top-nav-collapse {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
  }

  .top-nav-collapse .navbar-brand {
    color: #252525;
  }

  .top-nav-collapse .nav li a {
    color: #575757;
  }

  .top-nav-collapse .nav .section-btn a {
    color: #ffffff;
  }
}
/*---MENU------------
--------------------*/

/*-----about--------
---------------------*/
header {
  padding: 200px;
  text-align: left;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 250% 100%;
  animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
  height: 80vh;

}
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.header-title{
  float: left;
  width:75%
  text-align: center;
  padding: 30px;
  color:black;
}

.header-title h1 {
  font-family: 'Paytone One', sans-serif;
  font: 50px;
  color: white;
}

.header-title h3 {
  font-family: 'Paytone One', sans-serif;
  font-size: 40px;
  color: pink
}

.header-image {
float: left;
width: 25%;
}

/*-------about-----

-------------------*/

.about {
  padding-top: 80px;
  float: right;
  width: 60%;
}

.about h1 {
  text-align: right;
  margin: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  color: indigo;
}
.about-text {
  font-size: 28;
  padding: 40px;
  float: left;
  width: 40%;
  size: 60%;
}

.text-box {
  box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
  background: hsl(0 0% 100%);
  color: hsl(200 50% 20%);
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 300;
  width: 600px;
  height: 35vmin;
  display: flex;
  place-item: center;
  text-align: left;
  padding: 3ch;
  border-radius: 2ch;
  border: 1px solid hsl(0 0% 83%);
  height: 250px;
}

.skills {
  padding: 60px;
  float: left;
  width: 100%;
  size:100%; 
}

progress-line{
	position:relative;
	height: 10px;
	width: 100%;
	background: #f0f0f0;
	border-radius: 10px;
	transform: scaleX(0);
	transform-origin: left;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
	                  0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate{
	100%{
		transform: scaleX(1);
	}
}

.progress-line span{
	height: 100%;
	background: black;
	position: absolute;
	border-radius: 10px;
	transform: scaleX(0);
	transform-origin: left;
	animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}


.progress-line.react span{
	width:80%;
}
.progress-line.html span{
	width:94%;
}
.progress-line.bootstrap span{
	width:85%;
}
.progress-line.nodejs span{
	width:82%;
}
.progress-line.angular span{
	width:76%;
}
.progress-line.docker span{
	width:78%;
}
.progress-line.javascript span{
	width:89%;
}

.progress-line.java span{
	width:90%;
}

.progress-line.aws span{
	width:84%;
}

.progress-line.python span{
	width:95%;
}

.progress-line.django span{
	width:90%;
}

.progress-line.matlab span{
	width:70%;
}

.progress-line.photoshop span{
	width:95%;
}

.progress-line.mysql span{
	width:74%;
}

.progress-line.sketch span{
	width:97%;
}

.progress-line.indesign span{
	width:82%;
}

.progress-line span::before{
	position:absolute;
	content: "";
	right: 0;
	top: -10px;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-color:#000;
	opacity: 0;
	animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after{
	position:absolute;
	right: 0;
	top: -28px;
	color: #fff;
	font-size:12px;
	font-weight:500;
	background: indigo;
	padding:1px 8px;
	border-radius:3px;
	opacity: 0;
	animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
	100%{
	opacity: 1;
    }
}

.progress-line.react span::after{
	content:"80%";
}
.progress-line.html span::after{
	content:"94%";
}
.progress-line.css span::after{
	content:"80%";
}
.progress-line.nodejs span::after{
	content:"82%";
}
.progress-line.mysql span::after{
	content:"74%";
}
.progress-line.angular span::after{
	content:"80%";
}
.progress-line.docker span::after{
	content:"80%";
}
.progress-line.javascript span::after{
	content:"89%";
}

.progress-line.java span::after{
	content:"90%";
}

.progress-line.aws span::after{
	content:"84%";
}

.progress-line.python span::after{
	content:"95%";
}

.progress-line.django span::after{
	content:"90%";
}

.progress-line.matlab span::after{
	content:"70%";
}

.progress-line.photoshop span::after{
	content:"95%";
}

.progress-line.sketch span::after{
	content:"97%";
}

.progress-line.indesign span::after{
	content:"92%";
}

.container {
	max-width: 1250px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.card {
	position: relative;
	width: 400px;
	margin: 20px;
	padding: 40px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.card:before {
	content: '';
	position: absolute;
	left: calc(-100% + 4px);
	top: 0;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 1;
	transition: 0.5s ease-in-out;
}

.card:hover:before {
	left: 0;
}

.card:nth-child(1):before {
	background: #1565c0;
}
.card:nth-child(2):before {
	background: #ffeb3b;
}
.card:nth-child(3):before {
	background: #e91e63;
}

.card div {
	position: relative;
	z-index: 1;
}

 .skills h2 {
	margin-bottom: 10px;
	font-size: 30px;
	transition: 0.5s;
	color: #777;
}

 .skills p {
	margin-bottom: 10px;
	font-size: 18px;
	transition: 0.5s;
	color: #777;
}

 .skills a {
	margin-top: 20px;
	font-size: 14px;
	display: inline-block;
	text-decoration: none;
	transition: 0.5s;
	background: #fff;
	color: #777;
	padding: 6px 10px;
	font-weight: 600;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
}

.container .card:hover div h2,
.container .card:hover div p {
	color: #fff;
}


@media screen and (max-width: 800px) {
  .header-title, .header-image .about, .about-text {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
