@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Rubik:wght@300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	animation: gradient 15s ease infinite;
	height: 100vh;
    text-align:center;
    align-items: center;

}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

nav {
   font-family: 'Rubik', sans-serif ;
   font-weight: 300;
   padding: 30px;
   margin-top: 50px;
   font-size: 20px;
   color: #fff;
}

nav a {
  font-family: 'Rubik', sans-serif ;
  color: pink;
  padding: 18px 22px;
  overflow: hidden;
  text-decoration: none;
}

nav a:hover {
  background-color: white;
}

.navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
  color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
  color: #fff !important;
  background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
  border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
  color: #fff ;
}

/* Dropdown links */
.dropdown-menu li a {
  color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
  background-color: purple !important;
}

h1 {
font-family: 'Paytone One', sans-serif;
font-size:65px;
color:white;
text-align:center;
}

h6 {
font-family: 'Paytone One', sans-serif;
font-size:25px;
color:white;
}

h4 {
	font-size:24px;
	font-family: 'Pacifico', cursive;
	color: #ffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing:grayscale;
	text-shadow: 0px -6px 0 #212121,
	             0px -6px 0 #212121,
				 0px  6px 0 #212121,
				 0px  6px 0 #212121,
				-6px  0px 0 #212121,
				 6px  0px 0 #212121,
				-6px  0px 0 #212121,
                 6px  0px 0 #212121,
				-6px -6px 0 #212121,
                 6px -6px 0 #212121,
				-6px  6px 0 #212121,
                 6px  6px 0 #212121,
                -6px 18px 0 #212121,
                 0px 18px 0 #212121,
                 6px 18px 0 #212121,
                0 19px 1px rgba(0,0,0,.1),
                0 0 6px rgba(0,0,0,.1),
				0  6px 3px rgba(0,0,0,.3),
				0 12px 6px rgba(0,0,0,.2),
				0 18px 18px rgba(0,0,0,.25),
				0 24px 24px rgba(0,0,0,.2),
				0 36px 36px rgba(0,0,0,.15),

}

h5 {
	font-family: 'Paytone One', sans-serif;
	font-size: 14px;
	color: black;
}

p {
font-family: 'Montserrat', sans-serif;
font-size:14px;
text-align:center;
color: white;
}

.container text-center {
	width: 450px;
	height: 100px;
	border-radius: 60px;
	padding: 300px 220px;

}


.inputs {
	text-align:left;
	margin-top:30px;
}

label, input, button {
	display: block;
	width: 65%;
	padding:40px 60px;
	color: black;
	outline: none;
	box-sizing: border-box;
	font-family: 'Paytone One', sans-serif;
}

input::placeholder {
	color:purple;
}

label {
	margin-bottom: 2em;
  margin-top: 2em;
}

input {
	background: white;
	padding: 10px;
	padding-left: 20px;
	height: 40px;
	font-size:14px;
	border-radius: 50px;
}

button {
	margin-top: 20px;
	background: #888888;
	height: 40px;
	border-radius: 20 px;
	cursor: pointer;
	font-weight:900;
	box-shadow: 6px 6px 6px #676767, -6px -6px 6px ;
	transition: 0.55s;
}

butoon:hover {
	box-shadow: none;
}
